body{
    margin-top: 30px;
  }
  /*#messageArea{
    display: none;
  }*/
  #msgContainer{
    display:none;
  }
  .title {
    display: inline;
    position: relative;
    font: 120px Helvetica, Sans-Serif;
    letter-spacing: -5px;
    color: rgba(0,0,255,0.5); 
  }

  .title:after {
    content: "Acromania";
    position: absolute; left: 10px; top: 5px;
    color: rgba(255,0,0,0.5);   
  }

  .chat{
      height:450px;
      overflow-y:scroll;
  }

  .vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

  .dot {
    height: 15px;
    width: 15px;
    background-color:greenyellow;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
  }